@import "../fonts/Product-Sans-Regular.css";
@import "../fonts/Droid-Sans-Mono.css";
@import "../fonts/Segoe-UI.css";
html {
  background-color: #201f1e;
  color: #fefefe;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}
::-moz-selection {
  color: #201f1eff;
  background: #fefefeff;
}
::selection {
  color: #201f1eff;
  background: #fefefeff;
}
a:link, a:visited, a:active {
  color: #892156;
}
a:hover {
  color: #bf0000;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2d2c2a;
}
::-webkit-scrollbar-thumb {
  background: #fefefe;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  height: 58px;
  display: inline;
}
div.footer-container {
  background: black;
  width: 100%;
  position: absolute;
  bottom: 0;
}
ul.footer-ul {
  margin: 0;
  padding: 0;
}
li.footer-li {
  height: initial;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Segoe UI", monospace;
}
.right {
  float: right;
}
img.rfoff-logo {
  height: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
}
nav {
  background: black;
}
.navbar-item {
  
}
div.text-body {
  width: 65%;
  margin: auto;
  /* background: var(--test); */
}
p, a {
  font-family: "Segoe UI", monospace;
}
p.title {
  font-size: 40px;
  text-align: center;
  font-family: "Droid Sans Mono Regular", monospace;
}
a.503-li {
  height: default;
}
