<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../css/root.css">
    <!-- <link rel="stylesheet" href="individual.css"> -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="//readf0x.github.io/img/fav.png">
    <title> - readf0x Official</title>
    <meta content="readf0x Official - " property="og:title">
    <meta content="" property="og:description">
    <meta content="https://readf0x.github.io" property="og:url">
    <meta content="https://readf0x.github.io/img/logo.png" property="og:image">
    <meta content="#bf0000" data-react-helmet="true" name="theme-color">
  </head>
  <body style="margin: 0 !important; padding: 0 !important;">
    <!-- <meta http-equiv="refresh" content="0; URL=//readf0x.github.io/503" /> -->
    <!-- <script>
        //https://www.geeksforgeeks.org/how-to-load-css-files-using-javascript/
        //https://stackoverflow.com/a/31217590

        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          var head = document.getElementsByTagName('HEAD')[0];
          var link = document.createElement('link');
          link.rel = 'stylesheet';
          link.type = 'text/css';
          link.href = 'css/mobile.css';
          head.appendChild(link);
        }
    </script> -->
    <nav class="navbar" style="border-bottom: 2px solid #fefefe;">
      <ul class="nav > ul">
        <li>
          <a href="//readf0x.github.io/">
            <img src="../img/logo.png" class="rfoff-logo">
          </a>
        </li>
        <li class="navbar-item">
          <a href="//readf0x.github.io/software/" class="nava">Downloads</a>
        </li>
      </ul>
    </nav>
    <div class="text-body">
      <p class="title">title</p>
      <p>body text</p>
    </div>
    <div class="footer-container">
      <ul class="footer-ul">
        <li class="footer-li"><a href="//readf0x.github.io/about/">About</a></li>
        <li class="footer-li"><a href="mailto:readf0x@dublea.me">Contact</a></li>
        <li class="footer-li"><a href="https://discord.gg/p7ewtPU/">Discord</a></li>
        <li class="footer-li right"><a href="//github.com/readf0x/readf0x.github.io"><i class="github-ico"/> Code stored on github</a></li>
      </ul>
    </div>
  </body>
</html>