/*If you can code, contact me on discord! readf0x#6685*/
.banner {
  background-image: url(//readf0x.github.io/img/banner.jpg);
  background-size: auto;
  background-position: 0px -100px;
  height: 300px;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}
