/* If you can code, contact me on discord! readf0x#6685 */
.software-dwnldbtn {
    font-size: 20px;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 28px;
    width: 75px;
    border-radius: 10px;
}
.torbutton {
    background: url(../img/torbutton.png/);
    background-position: right;
    background-size: cover;
}
/*debugging*/
/*html {
    background: url(../img/buttontest.png/);
    background-position-x: right;
    background-size: 222px ;
}*/
