/* If you can code, contact me on discord! readf0x#6685 */
.software-dwnldbtn {
    font-size: 20px;
    padding: 60px;
    padding-top: 25px;
    padding-bottom: 28px;
    border-radius: 10px;
    text-decoration: none;
}
.torbutton {
    background: url(https://i.imgur.com/v5vausn.png);
    /*background: url(//readf0x.github.io/img/torbutton.png/);*/
    /*background: url(../img/torbutton.png/);*/
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fbfbfb !important;
}
.discordbutton {
    background: url(https://i.imgur.com/f03nGlj.png);
    /*background: url(//readf0x.github.io/img/discordbutton.png/);*/
    /*background: url(../img/discordbutton.png/);*/
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff !important;
}

/*debugging*/
/*html {
    background: url(../img/buttontest.png/);
    background-position-x: right;
    background-size: 222px ;
}*/
