html {
  background-color: white;
}
.content {
  background-image: url(a3d937efb1b9cb36b64597924f30ddc2.jpg);
  background-size: 50px 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1004px;
}
.image {
  background-color: white;
}
.cursorHover {
  cursor: pointer;
}
.header {
  color: lime;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 10px;
  text-align: center;
  background-image: url(download6.png);
}
.body {
  color: black;
  width: 1500px;
  margin: auto;
}
