/* Regular */
@font-face {
    font-family: "Mojangles";
    src: url("MinecraftRegular.otf");
    font-style: normal;
    font-weight: normal;
}
/* Italic */
@font-face {
    font-family: "Mojangles";
    src: url("MinecraftItalic.otf");
    font-style: italic;
    font-weight: normal;
}
/* Bold */
@font-face {
    font-family: "Mojangles";
    src: url("MinecraftBold.otf");
    font-style: normal;
    font-weight: bold;
}
/* Bold Italic */
@font-face {
    font-family: "Mojangles";
    src: url("MinecraftBoldItalic.otf");
    font-style: italic;
    font-weight: bold;
}