.rfoff-logo:after {
    background: url("../img/fav.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
    content: "";
    display: inline-block;
    width: 1em; height: 1em;
}